In [1]:
x = 0
y = 5

In [2]:
if x < y:
    print('yes')

yes

In [3]:
if y < x:
    print('yes')

In [4]:
print(x,y)

0 5

In [5]:
if y < x:
    # 5 < 0 ?? False --> Falsy
    print('yes')

In [6]:
print(x, type(x))

0 <class 'int'>

In [8]:
print(y, type(y))

5 <class 'int'>

In [9]:
if x: #x =0, karena tipe datanya int dan valuenya 0 maka expression will be evaluated
    print('yes')

In [10]:
if y: # y = 5, maka expresiion will be evaluated to False
    print('yes')

yes

In [11]:
if 'aul' in 'grault':
    print('yes')

yes

In [12]:
print('aul' in 'grault')

True

In [13]:
print('alu' in 'grault')

False

In [14]:
if 'quux' in ['foo','bar','baz']:
    print('yes')

In [24]:
keyword = 'hello'
words = ['Bed','Time','Stories']

if keyword in words:
    print('found!')

In [16]:
weather ='nice'
# weather ='stormy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')

Mow the lawn
Weed the garden
Take the dig for a walk

In [18]:
# weather ='nice'
weather ='stormy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')

In [19]:
#weather ='nice'
weather ='stormy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')
    
print('Selesai memutuskan')

Selesai memutuskan

In [20]:
weather ='nice'
#weather ='stormy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')
    
print('Selesai memutuskan')

Mow the lawn
Weed the garden
Take the dig for a walk
Selesai memutuskan

In [21]:
print('x')
print('y')
print(weather)

x
y
nice

In [23]:
if 'foo' in ['bar','baz','qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done')

print('After conditional')

After conditional

In [25]:
weather ='windy'

if weather == 'nice':
    print('Mow the lawn')
    print('Weed the garden')
    print('Take the dig for a walk')
else:
    print('Watch movies on the bed')
    print('...')

Watch movies on the bed
...

In [26]:
harga_buku = 20000
harga_majalah = 5000
uang = 2000

if uang > harga_buku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [27]:
harga_buku = 20000
harga_majalah = 5000
#uang = 2000
uang = 20000

print('uang :', uang)
print('harga buku :', harga_buku)

#if uang > harga_buku:
if uang >= harga_buku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang : 20000
harga buku : 20000
beli buku

In [28]:
harga_buku = 20000
harga_majalah = 5000
#uang = 2000
#uang = 20000
uang = 10000

print('uang :', uang)
print('harga buku :', harga_buku)
print('harga majalah :', harga_majalah)

#if uang > harga_buku:
if uang >= harga_buku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang : 10000
harga buku : 20000
harga majalah : 5000
uang tidak cukup

In [29]:
harga_buku = 20000
harga_majalah = 5000
uang = 10000

print('uang :', uang)
print('harga buku :', harga_buku)
print('harga majalah :', harga_majalah)

if uang > harga_buku:
    print('beli buku')
elif uang > harga_majalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang : 10000
harga buku : 20000
harga majalah : 5000
beli majalah

In [36]:
#name = 'Hacktiv8'
name = 'Foxes'
print('Name :',name)

if name == 'Fred': #checked
    print('Hello Fred')
elif name == 'Xander': #checked
    print('Hello Xander')
elif name == 'Hacktiv8': #checked
    print('Hello Hacktiv8')
elif name == 'Arnold': #checked
    print('Hello Arnold')
else:
    print("I don't know who you are..")

Name : Foxes
I don't know who you are..

In [39]:
#short circuit evaluation

if 'a' in 'bar':
    print('foo')
elif 'b' in 'bar':
    print('b is found!')

foo

In [41]:
# a b c d e
# >80, >60, >40, >20, >0

nilai = 90
if nilai > 0:
    print('e')
elif nilai >20:
    print('d')

e

In [42]:
# a b c d e
# >80, >60, >40, >20, >0

nilai = 90
if nilai > 80:
    print('a')
elif nilai >20:
    print('b')

#...

a

One-Line

In [43]:
if 'f' in 'foo':
    print('1'); print('2'); print('3')

1
2
3

In [44]:
raining = False
print("let's go to the", 'beach' if not raining else 'library')

let's go to the beach

In [45]:
print(not raining)
#     not false
# true

True

In [46]:
x = 2
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [47]:
Raining = True
print(not raining)
# 	not True
# False

True

In [49]:
age = 15
print(age)

# true if expression else false
s = 'teen' if age < 21 else 'adult'
print(s)

15
teen

In [52]:
print('yes' if('qux' in ['foo','bar','baz'])else 'no')

no

In [53]:
s

'teen'

In [54]:
students = ['aa','bb','cc','dd']
len(students)

4

while i < len(students):
    hitung_rata_rata(students[i])

In [55]:
n = 5
while n > 0:  #5 > 0?, 4, 3, 2, 1, 0 > 0? False
    n -=1     #4 3 2 1 0
    print(n)  #4 3 2 1

4
3
2
1
0

In [56]:
i = 1
while i < 6: #1, 2, 3, 4, 5, 6 < 6? False
    print(i) # 1 2 3 4 5
    i += 1   # 2 3 4 5 6

1
2
3
4
5

In [57]:
misalnya mencari 'b' in 'bar'

'barbarbar'

SyntaxError: invalid syntax (949219012.py, line 1)

In [58]:
n = 5
while n > 0:                    # 5 4 3
    n -= 1                      # 4 3 2
    if n == 2:                  # F F T
        break #break Statement  # S S break
    print(n)                    # 4 3 x 
print ('Loop ended.')

4
3
Loop ended.

In [59]:
n = 5
while n > 0:             # 5 4 3 2 1 0 >0 ? False
    n -= 1               # 4 3 2 1 0      
    if n == 2:           # F F T F    
        continue         # S S C S S
    print(n)        
    
print ('Loop ended.')

4
3
1
0
Loop ended.

In [60]:
n = 5
while n > 0:                   
    n -= 1                      
    if n == 3:                  
        break #break Statement  
    print(n)
        
    if n == 2:              
        continue         
    print('-'* 5)
        
print ('Loop ended.')

4
-----
Loop ended.

In [63]:
n = 10
while n > 0:                   
    n -= 1                      
    if n == 2:                  
        break #break Statement  
    print(n)
        
    if n == 4:              
        continue  
        
    print('-'* 5)
        
print ('Loop ended.')

9
-----
8
-----
7
-----
6
-----
5
-----
4
3
-----
Loop ended.

In [65]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [66]:
a = ['foo','bar']

while len(a):           #2
    print(a.pop(0))     #['foo'], sisa['bar']
    
    b = ['baz','qux']
    
    while len(b):
        print('>', b.pop(0)) # >['baz'], sisa ['qux'] || >['qux'], sisa []

foo
> baz
> qux
bar
> baz
> qux

In [72]:
i = 0
while i < 4:
	print('i', i)
    
	j = 1
	while j < 5:
    	print('j', j)
    	if j == 2:
        	print('will break loop using j counter')
        	break
   	 
    	j += 1
    
	if i == 1:
    	print('will break loop using i counter')
    	break
	i+=1

TabError: inconsistent use of tabs and spaces in indentation (1793680962.py, line 7)

In [70]:
# 1, 3, 5, 7, 9, 11, 13
for i in range(1, 13, 2):
    print(1)

1
1
1
1
1
1

In [71]:
for i in range(20, 0, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [73]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
# for k in d: defaultnya:
for k in d.keys():
	print(k)

foo
bar
baz

In [74]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.values():
	print(k)

1
2
3

In [75]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.items():
	print(k)

('foo', 1)
('bar', 2)
('baz', 3)

In [76]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
	print(k, v)

foo 1
bar 2
baz 3

In [77]:
for n in (0, 1, 2, 3, 4, 9, 2):  # 0 1 2 3 4 9 2
	print(n)                 	# 0 1 2 3 4 9 2

0
1
2
3
4
9
2

In [78]:
x = range(5)

for i in x:
# for i in range(5):
	print(i)

0
1
2
3
4

In [4]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i: # b di foo? b bar? b baz? b  qux?
        break
print(i)

bar

In [7]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i: # b di foo? b di bar? b di baz? b di qux?
        continue
print(i)

qux